@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-family: Poppins;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.slick-track {
  height: 3rem;
}
.slick-slide {
  margin: 0rem 0.5rem;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
